:root{
    /* color var */
    --maincolor:#0eb137;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear; 
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
  
}
.header #logo img{
    width: 80px;
}
.header .navbar a{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    color: var(--maincolor);

}
.header .navbar a:hover{
   color: black;
}
.header .icons{
    font-size: 2rem;
   
}

.header .icons div{
    margin-left: 1rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: var(--maincolor);
}
.header .icons #menu-bars{
    display: none;
}
.header .search-box{
    position: absolute;
    top: 110%;
    right: 100%;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .search-box input{
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    border: none;
}
.header .search-box.active{
    right: 2rem;
}
.header .navbar.active{
    left: 0;
}

.main-text{
    text-align: center;
}
.main-text h2{
    color: white;
    font-size: 30px;
}
.main-text h1{
    color: white;
    font-size: 38px;
}
.main-text h1 span{
    color: var(--maincolor);
} 
.book-section{
    padding: 2rem 7%;
    block-size: 50vh;
    display: flex;
    align-items: center;
}
.inner-book{
    inline-size: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.inner-book input{
    padding: 1rem 2rem;

}
.book-btn{
    padding: 1.1rem 2rem;
    background: var(--maincolor);

}
.book-btn a{
    color: white;
    font-size: 1.5rem;
}
.main-hotel{
    padding: 2rem 7%;
    display: flex;
    gap: 15px;
}
.award-winning-hotel h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem ;
}
.award-winning-hotel h1 span{
    color: var(--maincolor);
}

.inner-award h2,p{
    text-align: center;
}
.inner-award h2{
    font-size: 30px;
    padding: 1rem;
}
.inner-award p{
    font-size: 1.2rem;
    padding: 2rem;
}
.inner-award img{
    width: 100%;
}
.our-rooms{
    padding: 2rem 7%;

}
.our-rooms h1{
    color: black;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2rem;
}
.our-rooms h1 span{
    color: var(--maincolor);
}
.inner-rooms{
    display: flex;
    gap: 15px;
    
}
.inner-rooms .room-box{
    flex: 1 1 300px;
    
}
.inner-rooms .room-box img{
    inline-size: 100%;
    padding: 1rem;
}
.inner-rooms .room-box .beds{
    display: flex;
     padding: 2rem 5rem;
     

    
}
.inner-rooms .room-box .beds span{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    inline-size: 100%;
    text-align: center;
    
}

.book-room-btn{
    inline-size: 50%;
    margin: auto;
    padding: 1.5rem 2rem;
    border: 1px solid var(--maincolor);
    text-align: center;
}
.book-room-btn:hover{
    color: white;
    background: var(--maincolor);
}
.book-room-btn a{
    color: black;
    font-size: 1.7rem;
}
.book-room-btn a:hover{
    color: white;
}

.gallery{
    padding: 2rem 7%;

}
.gallery h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
}
.gallery h1 span{
    color: var(--maincolor);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}



.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  inline-size: 100%;
  text-align: end;
  font: normal 30px sans-serif;
  padding: 45px 50px;
  align-items: center;
}

.footer-links a{
    font-size: 25px;
    margin-left: 1.5rem;
    color: var(--maincolor);

}
.footer-links a:hover{
   color: white;
}


